include LICENSE
include README.rst
recursive-include django-filtered-articles/static *
recursive-include django-filtered-articles/templates *.html
recursive-include django-filtered-articles/tests *.html
recursive-include docs *